* {
    font-family: 'Verdana';
    color: white;
    text-align: center;
    background-color: black;
}

/* HEADER */

header {
    font-size: 50px;
    font-weight: normal;
}

.downloadlink {
    color: aquamarine;
    font-size: 16px;
}

/* MAIN */

h2 {
    font-weight: 300;
    font-size: 42px;
}

.midtextsec p {
    color: gray;
    font-size: 21px;
}

img {
    padding: 15px;
}

/* FOOTER */

footer p {
    text-align: right;
    color: gray;
}

